<%= form_for(candidate) do |f| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
      <p class="form-inline">  
      <%= f.label :name %>
      <a id="add_form_50"><%= f.text_field :name, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :email %>
      <a id="add_form_50"><%= f.email_field :email, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :phone %>
      <a style="margin-left: 45px;"><%= f.number_field :phone, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :address %>
      <a id="add_form_30"><%= f.text_area :address, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :position %>
      <a id="add_form_30"><%= f.select(:position, options_for_select([['1', 'RING'], ['2', 'NINE']]), {}, {class: "form-control" , :style => "min-width: 340px;"}) %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :'previous Salary' %>
      <a id="add_form_30"><%= f.number_field :pre_salary, {class: 'form-control' , :style => "min-width: 290px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :'expected Salary' %>
      <a id="add_form_30"><%= f.number_field :expect_salary, {class: 'form-control' , :style => "min-width: 290px;"} %></a>
      </p>
      <p class="form-inline">
        <%= f.label :'source' %>
            <a id="add_form_30"><%= f.select(:source, options_for_select([['1', 'RING'], ['2', 'NINE']]), {},  {class: "form-control" , :style => "min-width: 150px;"}) %></a> / 
            <%= f.text_field :source_detail, class: 'form-control' %>
      </p>

      <div style="margin-top: 10px;">
        <%= f.submit "Add new candidate", class: "btn btn-success" %>
      <%= link_to 'Back', candidates_path , class: "btn btn-primary" %>
      </div>

  </div>
<% end %>

