<%= form_for(candidate) do |f| %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Candidate</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="test.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

      <div class="container">
      <div class="row" align="center">
        <div class="col-sm-2"  align="center" style="width: 185px; padding: 5px;">
        	<div><img src="/images/rss.jpg" alt="rss feed" height="150px" width="150px" ></div>
        	<div>ID : <%= @candidate.id %></div>
        </div>
        <div class="col-sm-2"  align="center" style="width: 185px; padding: 24px;">
      <p><%= f.submit "Submit", { class: "btn btn-success" , :style => "min-width: 100px;"} %></p>
			<p><%= link_to 'Back', candidates_path , {class: "btn btn-primary" , :style => "min-width: 100px;"} %></p>
			<p><%= link_to 'Delete', candidate, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger", :style => "min-width: 100px;" %></p>
        </div>
        <div class="col-sm-4"  style="width: 325px; padding: 19px;">
        	<p>

        <p class="form-inline">
            <label for="test"> Test Score : </label>
              <input type="text" class="form-control" aria-label="..." placeholder="general" style="width:90px">
              <input type="text" class="form-control" aria-label="..." placeholder="technical" style="width:90px">
        </p>

			</p>
			<p>
			</p>
			<p align="center">
			<button type="button" class="btn btn-default">Resume</button>
			</p>
        </div>
        <div class="col-sm-4" style="width: 372px; padding: 18px;">
        	<p>
        		<div class="form-inline" >
        			<label for="state"> Current state : </label>
  					<select class="form-control" id="sel1" style="width:200px" name="state">
    					<option>1</option>
    					<option>2</option>
    					<option>3</option>
    					<option>4</option>
  					</select>
				</div>
			</p>
			<p>
        		<div class="form-inline" >
        			<label for="status"> Current status: </label>
  					<select class="form-control" id="sel1" style="width:200px" name="status">
  						<option>-</option>
    					<option>Complete</option>
    					<option>In Process</option>
    					<option>Reject</option>
  					</select>
				</div>
			</p>
			<p>
        	<div class="progress" style="height: 25px;" >
  				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    					60%
  				</div>
			</div>
        	</p>
        </div>
        </div>
    <!-- </div> -->
      <!-- Example row of columns -->
      <div class="row" >
        <div class="col-md-6" align="left"  style="width: 550px; padding: 19px;">
      <p class="form-inline">  
      <%= f.label :name %>
      <a id="add_form_50"><%= f.text_field :name, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :email %>
      <a id="add_form_50"><%= f.email_field :email, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :phone %>
      <a style="margin-left: 45px;"><%= f.number_field :phone, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :address %>
      <a id="add_form_30"><%= f.text_area :address, {class: 'form-control' , :style => "min-width: 340px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :position %>
      <a id="add_form_30"><%= f.select(:position, options_for_select([['1', 'RING'], ['2', 'NINE']]), {}, {class: "form-control" , :style => "min-width: 340px;"}) %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :'previous Salary' %>
      <a id="add_form_30"><%= f.number_field :pre_salary, {class: 'form-control' , :style => "min-width: 290px;"} %></a>
      </p>
      <p class="form-inline"> 
      <%= f.label :'expected Salary' %>
      <a id="add_form_30"><%= f.number_field :expect_salary, {class: 'form-control' , :style => "min-width: 290px;"} %></a>
      </p>
      <p class="form-inline">
        <%= f.label :'source' %>
            <a id="add_form_30"><%= f.select(:source, options_for_select([['1', 'RING'], ['2', 'NINE']]), {},  {class: "form-control" , :style => "min-width: 150px;"}) %></a> / 
            <%= f.text_field :source_detail, class: 'form-control' %>
      </p>
       </div>
        <div class="col-md-6">

          <p>----COMENT FROM STAFFS----</p>

       </div>
      </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<% end %>