<h1>Candidates List</h1>

<%= link_to 'New Candidate', new_candidate_path , class: "btn btn-default" %>

<table class="table" style="margin-top: 30px">
  <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.name, edit_candidate_path(candidate) %></td>
        <td><%= candidate.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
