@import "bootstrap-sprockets";
@import "bootstrap";

body{
  margin-top: 60px;
}

label{
  margin-top:     20px;
  margin-bottom: 10px;
}

/* Edit Page */

#add_form_30{
	margin-left:	30px;
}

#add_form_50{
	margin-left:	50px;
}