<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ARMS", root_path, id: "logo" %>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<!--           <a class="navbar-brand" href="#">Candidates</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><%= link_to "Candidate",    candidates_path %></li>
        <li><%= link_to "Staff",    '#' %></li>
        <li><%= link_to "Canlendar", '#' %></li>
        <li><%= link_to "Statistic", '#' %></li>
          </ul>
          <ul class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</header>